[submodule ".vim/bundle/Vundle.Vim"]
	path = .vim/bundle/Vundle.Vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
