[Desktop Entry]
Name=Choose Browser
Comment=Choose which browser opens url
Exec=choose-browser.sh %u
Type=Application
Category=WebBrowser;
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
